# Nama : Nurmedina Maulidiah    
# NIM  : 2109106012
## Posttest 4 Kecerdasan Buatan

In [165]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [166]:
dataset_split = pd.read_csv("winequalityN.csv")

In [167]:
dataset_split.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [168]:
dataset_split.shape

(6497, 13)

# Membagi Training sett dan Testing Set

In [169]:
x = dataset_split.iloc[:,:-1]
y=dataset_split.iloc[:,-1]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2)

In [170]:
print ("dimensi x train : " , x_train.shape)
print ("dimensi x test : " , x_test.shape)
print ("dimensi y train : " , y_train.shape)
print ("dimensi y test : " , y_test.shape)

dimensi x train :  (5197, 12)
dimensi x test :  (1300, 12)
dimensi y train :  (5197,)
dimensi y test :  (1300,)

# Data Cleaning

#### karena di dataset ini tdk ada nilai duplikat maka kita buat dataset baru untuk membuat nilai duplikat

In [171]:
df = pd.read_csv("winequalityNrusak.csv")

In [172]:
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
1,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
2,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
3,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6
4,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.001,3.0,0.45,8.8,6

## Menangani nilai null

In [173]:
df.isna().sum()

type                     0
fixed acidity           12
volatile acidity        10
citric acid              3
residual sugar           2
chlorides                2
free sulfur dioxide      0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64

### terdapat nilai null pada atribut fixed city, volatile acidity, citric acid, residual sugar, chlorodies, sulphates, alcohol

## Mengubah nilai null yang ada di baris 29:32

In [174]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")

In [175]:
df["fixed acidity"] = imputer.fit_transform(df[["fixed acidity"]])

In [176]:
df[29:32]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
29,white,7.216153,NaN,0.36,2.0,0.033,37.0,114.0,0.9906,3.10,0.71,12.3,7
30,white,8.500000,0.24,0.39,10.4,0.044,20.0,142.0,0.9974,3.20,0.53,10.0,6
31,white,8.300000,0.14,0.34,1.1,0.042,7.0,47.0,0.9934,3.47,0.40,10.2,6

## Mengubah nilai null yang ada pada variabel di atas
### karena tipe data yang bernilai null hanya float64 maka sesuai dengan ketentuan kita hanya mengubah nilai null dengan tipe data float dengan nilai mean

In [177]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy="mean")

In [178]:
df["volatile acidity"] = imputer.fit_transform(df[["volatile acidity"]])

In [179]:
df["citric acid"] = imputer.fit_transform(df[["citric acid"]])

In [180]:
df["residual sugar"] = imputer.fit_transform(df[["residual sugar"]])

In [181]:
df["chlorides"] = imputer.fit_transform(df[["chlorides"]])

In [182]:
df["sulphates"] = imputer.fit_transform(df[["sulphates"]])

In [183]:
df["pH"] = imputer.fit_transform(df[["pH"]])

In [184]:
df.isna().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

## Menangani nilai Duplicate

In [185]:
df[df.duplicated()]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
2,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
3,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
4,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
5,white,7.0,0.270,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6461,red,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
6462,red,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
6465,red,7.2,0.695,0.13,2.0,0.076,12.0,20.0,0.99546,3.29,0.54,10.1,5
6479,red,6.2,0.560,0.09,1.7,0.053,24.0,32.0,0.99402,3.54,0.60,11.3,5
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6

In [186]:
df.duplicated().sum

<bound method NDFrame._add_numeric_operations.<locals>.sum of 0       False
1        True
2        True
3        True
4        True
        ...
6492    False
6493    False
6494     True
6495    False
6496    False
Length: 6497, dtype: bool>

In [187]:
df.drop_duplicates(inplace=True)

In [188]:
df[df.duplicated()]

Empty DataFrame
Columns: [type, fixed acidity, volatile acidity, citric acid, residual sugar, chlorides, free sulfur dioxide, total sulfur dioxide, density, pH, sulphates, alcohol, quality]
Index: []

# Normalisasi

### setelah kita cleaning semua dataset yang kita punya, selanjutnya kita lakukan normalisasi

In [189]:
from sklearn.preprocessing import MinMaxScaler

In [190]:
min_max_scaler = MinMaxScaler()

In [191]:
x_scaled = min_max_scaler.fit_transform(
    df[['residual sugar']]
)

In [192]:
data_normalization = pd.DataFrame(x_scaled)
data_normalization.head()

          0
0  0.308282
1  0.055215
2  0.009202
3  0.013804
4  0.286043

# Data Transforming (Standarisasi)

### setelah kita cleaning semua dataset yang kita punya, selanjutnya kita lakukan standarisasi

In [194]:
np.std(df)

fixed acidity            1.318271
volatile acidity         0.168155
citric acid              0.147110
residual sugar           4.504101
chlorides                0.036852
free sulfur dioxide     17.819144
total sulfur dioxide    56.793059
density                  0.002967
pH                       0.160177
sulphates                0.149713
alcohol                  1.186300
quality                  0.880246
dtype: float64

In [195]:
from sklearn.preprocessing import StandardScaler

In [196]:
ss = StandardScaler()

In [197]:
x_scaled2 = ss.fit_transform(
     df[['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar', 'chlorides', 'free sulfur dioxide','total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol', 'quality' ]]
)

In [198]:
data_standarization = pd.DataFrame(x_scaled2)
data_standarization.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.164161,-0.441361,0.280670,3.473584,-0.316926,0.838201,0.982894,2.178845,-1.401341,-0.556660,-1.474132,0.231777
1,1.049550,-0.679237,0.552575,-0.189744,-0.588279,-0.733142,-0.091181,0.055133,-0.527307,-0.022304,-0.715470,-0.904270
2,0.518551,-0.976582,0.348647,-0.855804,-0.452603,-0.789262,-0.689846,-0.855029,-0.277583,0.645641,0.211782,-0.904270
3,-0.467589,-1.095520,0.552575,-0.789198,-0.344062,1.006560,0.507483,-1.124707,1.969934,-0.089099,1.560514,1.367823
4,0.821979,0.450674,2.048053,3.151655,-0.452603,0.613724,1.018109,1.909168,-1.526203,0.912819,-0.715470,-0.904270

In [199]:
np.std(x_scaled2)

1.0

In [200]:
np.mean(x_scaled2)

-2.0547851172522654e-15

In [201]:
dataset_split.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

## Mengubah tipe data salah satu atribut yang sebelumnya dengan float64 menjadi int64

In [202]:
print("tipe data sebelum: ")
df["pH"].dtypes

tipe data sebelum:

dtype('float64')

In [203]:
print("tipe data sesudah: ")
dfganti = df[["pH"]].astype("object")
dfganti["pH"].dtypes

tipe data sesudah:

dtype('O')

## One Hot Encoding

In [204]:
from sklearn.preprocessing import OneHotEncoder

In [205]:
df_oneHot = pd.read_csv("winequalityN.csv")

In [206]:
encoding = OneHotEncoder(sparse=False)

In [207]:
encoded = encoding.fit_transform(df_oneHot[['type']])

In [208]:
dataset_oneHot.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,0,1
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6,0.0,1.0
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6,0.0,1.0
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6,0.0,1.0
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,0.0,1.0
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6,0.0,1.0