# Nama : Nurmedina Maulidiah    
# NIM  : 2109106012
## Posttest 2 Kcerdasan Buatan

## TAMPILIN JUMLAH RECORD

In [1]:
import pandas as pd
import numpy as np
dataFrame = pd.read_csv("stranger-things-mod.csv" ,sep=';')
print("Jumlah record pada dataset ini adalah")
dataFrame.shape[0]

Jumlah record pada dataset ini adalah

2309

## TAMPILIN NAMA ATRIBUT

In [2]:
import pandas as pd
dataFrame = pd.read_csv("stranger-things-mod.csv" ,sep=';')
print("Nama-Nama Atribut dari Dataset ini adalah")
dataFrame.columns

Nama-Nama Atribut dari Dataset ini adalah

Index(['seasonNum', 'episodeNum', 'sceneNum', 'sceneStart', 'sceneEnd',
       'location', 'subLocation', 'characters', 'Unnamed: 8'],
      dtype='object')

## JUMLAH ATRIBUT TIPE OBJEK

In [49]:
info = {
    'object_attributes' : 0,
    'number_attributes' : 0,
    'null_attributes' : 0
}
info['object_attributes'] = len(dataFrame.select_dtypes(['object']).columns)
info['number_attributes'] = len(dataFrame.select_dtypes(['number']).columns)
info['null_attributes'] = len(dataFrame.loc[:, dataFrame.isnull().any()].columns)
print ("JUMLAH ATRIBUT BERTIPE OBEJEK ADALAH SEBANYAK ",(info['number_attributes']))

JUMLAH ATRIBUT BERTIPE OBEJEK ADALAH SEBANYAK  4

## JUMLAH ATRIBUT TIPE ANGKA

In [44]:
print ("JUMLAH ATRIBUT BERTIPE ANGKA ADALAH SEBANYAK ",(info['object_attributes']))

JUMLAH ATRIBUT BERNILAI NULL ADALAH SEBANYAK  5

## JUMLAH ARTIBUT NILAI NULL

In [43]:
print ("JUMLAH ATRIBUT BERNILAI NULL ADALAH SEBANYAK ",(info['null_attributes']))

JUMLAH ATRIBUT BERNILAI NULL ADALAH SEBANYAK  9

## RATA-RATA DARI SETIAP KOLOM, STANDAR DEVIASI, NILAI MIN DAN MAX, Q1, Q2, Q3 DARI ATTRIBUTE BERTIPE ANGKA

In [18]:
dataFrame.describe()

         seasonNum   episodeNum     sceneNum  Unnamed: 8
count  2308.000000  2308.000000  2308.000000         0.0
mean      1.611352     5.068024    71.108752         NaN
std       0.487549     2.527038    45.629127         NaN
min       1.000000     1.000000     0.000000         NaN
25%       1.000000     3.000000    33.000000         NaN
50%       2.000000     5.000000    67.000000         NaN
75%       2.000000     7.000000   103.000000         NaN
max       2.000000     9.000000   200.000000         NaN

## NILAI KORELASI

In [21]:
dataFrame.corr()

            seasonNum  episodeNum  sceneNum  Unnamed: 8
seasonNum    1.000000    0.166418  0.257598         NaN
episodeNum   0.166418    1.000000  0.222324         NaN
sceneNum     0.257598    0.222324  1.000000         NaN
Unnamed: 8        NaN         NaN       NaN         NaN

## MENGUBAH INTEGER 3 ANGKA DIBELAKANG KOMA MENJADI DESIMAL

In [35]:
dataFrame['seasonNum'].round(3)

0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2304    2.0
2305    2.0
2306    2.0
2307    2.0
2308    NaN
Name: seasonNum, Length: 2309, dtype: float64

## MENAMPILKAN 10 RECORD PERTAM DARI ATRIBUT BERTIPE ANGKA

In [20]:
dh = dataFrame.select_dtypes(include=np.number)
dh.head(10)

   seasonNum  episodeNum  sceneNum  Unnamed: 8
0        1.0         1.0       0.0         NaN
1        1.0         1.0       1.0         NaN
2        1.0         1.0       2.0         NaN
3        1.0         1.0       3.0         NaN
4        1.0         1.0       4.0         NaN
5        1.0         1.0       5.0         NaN
6        1.0         1.0       6.0         NaN
7        1.0         1.0       7.0         NaN
8        1.0         1.0       8.0         NaN
9        1.0         1.0       9.0         NaN

## MEMINDAHKAN ATRIBUT BERTIPE ANGKA KEDALAM FILE CSV BARU

In [74]:
dataFrame[{'seasonNum', 'episodeNum', 'sceneNum', 'sceneStart', 'sceneEnd'}].to_csv("stranger-things-mod2.csv")

C:\Users\User\AppData\Local\Temp\ipykernel_2192\3562360485.py:1: FutureWarning: Passing a set as an indexer is deprecated and will raise in a future version. Use a list instead.
  dataFrame[{'seasonNum', 'episodeNum', 'sceneNum', 'sceneStart', 'sceneEnd'}].to_csv("stranger-things-mod2.csv")